# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.ts text
*.js text
*.vue text
*.json text
*.md text
*.css text
*.html text
*.yml text
*.yaml text

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary

