:root {
  /* Directive Variables */
  --tooltip-d-transition-duration: 0.3s;
  --tooltip-d-border-radius: 6px;
  --tooltip-d-padding: 6px 12px;
  --tooltip-d-position-x: calc(100% + 10px);
  --tooltip-d-position-y: calc(100% + 10px);
  --tooltip-d-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2),
      0px 2px 4px 0px rgba(0, 0, 0, 0.12),
      0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  --tooltip-d-z-index: 9999;
  --tooltip-d-z-index-base: 1;
  --tooltip-d-z-index-hover: 9998;
  --tooltip-d-max-width: 300px;
  --tooltip-d-font-size: 14px;
  --tooltip-d-width: max-content;
  --tooltip-d-height: max-content;
  --tooltip-d-outline: none;
  --tooltip-d-border: none;

  /* Component Variables */
  --tooltip-c-transition-duration: 0.3s;
  --tooltip-c-border-radius: 6px;
  --tooltip-c-padding: 6px 12px;
  --tooltip-c-position-x: calc(100% + 10px);
  --tooltip-c-position-y: calc(100% + 5px);
  --tooltip-c-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2),
      0px 2px 4px 0px rgba(0, 0, 0, 0.12),
      0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  --tooltip-c-z-index: 9999;
  --tooltip-c-z-index-hover: 9998;
  --tooltip-c-max-width: max-content;
  --tooltip-c-width: max-content;
  --tooltip-c-height: max-content;
  --tooltip-c-outline: none;
  --tooltip-c-border: none;

  /* Colors */
  --tooltip-primary-color: #1a1a1a;
  --tooltip-primary-background: #ffffff;
  --tooltip-seconary-color: #ffffff;
  --tooltip-seconary-background: #475DEB;
  --tooltip-accent-color: #ffffff;
  --tooltip-accent-background: #1a1a1a;
  
  --tooltip-component-color: #1a1a1a;
  --tooltip-component-background: #ffffff;
}