@import url("variables.css");

.vue-tooltip-body {
  z-index: 10;
  background: var(--primary-background);
  color: var(--primary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  width: max-content;
  height: max-content;
  position: absolute;
}

.vue-tooltip.disable {
  opacity: 0.5;
  cursor: not-allowed;
}