@import url("variables.css");

.vue-tooltip-body {
  z-index: 10;
  background: var(--tooltip-component-background);
  color: var(--tooltip-component-color);
  border-radius: var(--tooltip-border-radius);
  box-shadow: var(--tooltip-box-shadow);
  padding: var(--tooltip-padding);
  width: max-content;
  height: max-content;
  position: absolute;
}

.vue-tooltip.disable {
  opacity: 0.5;
  cursor: not-allowed;
}