@import url("variables.css");

/* General tooltip styles */
.vue-tooltip {
    position: relative;
    cursor: pointer;
}

 /* Style for primary tooltip color */
.vue-tooltip__primary::after {
    background: var(--tooltip-primary-background);
    color: var(--tooltip-primary-color);
}

 /* Style for secondary tooltip color */
.vue-tooltip__secondary::after {
    background: var(--tooltip-seconary-background);
    color: var(--tooltip-seconary-color);
}

 /* Style for accent tooltip color */
 .vue-tooltip__accent::after {
    background: var(--tooltip-accent-background);
    color: var(--tooltip-accent-color);
}

/* Styles for tooltip content */
.vue-tooltip::after {
    content: attr(data-tooltip);
    font-size: 14px;
    position: absolute;
    width: max-content;
    max-width: 200px;
    height: max-content;
    z-index: 10;
    padding: var(--tooltip-padding);
    border-radius: var(--tooltip-border-radius);
    box-shadow: var(--tooltip-box-shadow);
    pointer-events: none;
    opacity: 0;
    transition: var(--tooltip-transition-duration);
}

/* Tooltip appears on hover */
.vue-tooltip:hover::after {
    opacity: 1;
}

/* Setting tooltip positioning (bottom) */
.vue-tooltip__bottom::after {
    top: 50%;
    bottom: auto;
    right: 50%; 
    left: 50%;
    transform: translate(-50%, 0);
}
.vue-tooltip__bottom:hover::after {
    top: calc(100% + 2px);
}

/* Setting tooltip positioning (top) */
.vue-tooltip__top::after {
    top: auto;
    bottom: 50%; 
    right: 50%; 
    left: 50%;
    transform: translate(-50%, 0);
}
.vue-tooltip__top:hover::after {
    bottom: calc(100% + 2px);
}

/* Setting tooltip positioning (right) */
.vue-tooltip__right::after {
    top: 50%;
    bottom: 50%; 
    left: 14px;
    right: auto;
    transform: translate(0, -50%);
}
.vue-tooltip__right:hover::after {
    left: var(--tooltip-position-x);
}

/* Setting tooltip positioning (left) */
.vue-tooltip__left::after {
    top: 50%;
    bottom: 50%; 
    right: 14px;
    left: auto;
    transform: translate(0, -50%);
}
.vue-tooltip__left:hover::after {
    right: var(--tooltip-position-x);
}